/* Estilos para tabletas */
@media screen and (max-width: 1023px) {
  /* Navbar*/
  .navbar {
    flex-direction: column;
    align-items: center;
  }
  .navbar-logo-container {
    margin-bottom: 1rem;
  }

  .navbar-links {
    margin-top: 1rem;
  }
  .navbar-links li {
    margin-bottom: 1rem;
  }
  .navbar-cart {
    margin-top: 1rem;
  }

  /* Banner */

  .banner h1 {
    font-size: 36px;
  }

  .banner p {
    font-size: 18px;
    margin-top: 20px;
  }
  /* Footer */

  .footer-links {
    flex-direction: column;
  }

  .footer-links a {
    margin-right: 0;
    margin-bottom: 1rem;
  }
}

/* Estilos para dispositivos móviles */
@media screen and (max-width: 767px) {
  /* Navbar*/
  .navbar {
    flex-direction: column;
    align-items: center;
  }

  .navbar-logo-container {
    margin-bottom: 1rem;
  }

  .navbar-links {
    margin-top: 1rem;
  }

  .navbar-links li {
    margin-bottom: 1rem;
  }

  .navbar-cart {
    margin-top: 1rem;
  }
  /* Banner */
  .banner h1 {
    font-size: 36px;
  }

  .banner p {
    font-size: 18px;
    margin-top: 20px;
  }

  /* Footer */

  .footer-links {
    flex-direction: column;
  }

  .footer-links a {
    margin-right: 0;
    margin-bottom: 1rem;
  }
}
